#barcodevideo, #barcodecanvas, #barcodecanvasg {
	height: 480px;
	width: 360px;
}	

#barcodecanvasg {
	position: absolute;
	top: 0px;
	left: 0px;
}

#result {
	font-family: verdana;
	font-size: 1.5em;
}

#barcode {
	position: relative;

}	

#barcodecanvas {
	/* display: none; */
	height: 640px;
	width: 480px;
	border: solid 2px red;
}
